@import url("https://v1.fontapi.ir/css/Shabnam");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Shabnam, sans-serif;
}

@layer base {
  body {
    @apply bg-[#fefefe];
    @apply dark:bg-[#252525] dark:text-gray-50 bg-gray-50 text-gray-900
  }
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  display: none;
}

